In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
dataset=pd.read_csv('Algerian_forest_fires_cleaned_dataset.csv' ,header=1)

In [4]:
dataset.head()

,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4.1,0.5,not fire,0
0,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0
1,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0
2,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0
3,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0
4,6,6,2012,31,67,14,0.0,82.6,5.8,22.2,3.1,7.0,2.5,fire,0

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1            242 non-null    int64
 1   6            242 non-null    int64
 2   2012         242 non-null    int64
 3   29           242 non-null    int64
 4   57           242 non-null    int64
 5   18           242 non-null    int64
 6   0.0          242 non-null    float64
 7   65.7         242 non-null    float64
 8   3.4          242 non-null    float64
 9   7.6          242 non-null    float64
 10  1.3          242 non-null    float64
 11  3.4.1        242 non-null    float64
 12  0.5          242 non-null    float64
 13  not fire     242 non-null    object
 14  0            242 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 28.5+ KB